<style>
    header {
        background-color: lightgray;
    }
</style>

<div id="header-content">Hello, I'm a shared header.</div>

<!--
<script>
    var importDoc = document.currentScript.ownerDocument;

    // mainDoc references the main document (the page that's importing us)
    var mainDoc = document;

    mainDoc.addEventListener("DOMContentLoaded", () => {
        // Grab and append header to the importing document.
        var content = importDoc.querySelector("#header-content");
        mainDoc.querySelector("header").appendChild(content.cloneNode(true));
    });
</script>
-->
