:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(220, 220, 220);

    --middle-indent: 1rem;
    --small-indent: 0.5rem;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0;
}

header {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: var(--middle-indent);
}

main {
    padding: var(--middle-indent);
}

select {
    border-color: var(--primary-color);
    border-radius: 1em;
    padding: var(--small-indent);
    background-color: var(--secondary-color);
}

select:focus {
    outline: none;
}
